<%- include('header') -%>

    <h2><i>Hello there, this is Lakshman Kotiki...👋👋</i></h2>

    <ul>
        <li>I am from Banglore.</li>
        <li>I love to play music and roam around different countries alone</li>
        <li>Now hustling in IndiaNic Infotech Ltd.</li>
        <li>My short term goal is to get job in Microsoft company*</li>
        <li>Now preparing DS & Algorithms</li>
        <li>I want to go to Abroad*</li>
    </ul>

<%- include('footer') -%>