<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo List</title>
</head>

<body>
    <h1 style="text-align: center;"><u>ToDo List</u></h1>

    <h2><span style="color: red;"> Today is:</span>
        <%= day %>
    </h2>

    <ul>
        <% for(var i=0; i < newToDoItem.length;i++) { %>
            <li>
                <%= newToDoItem[i] %>
            </li>
            <% } %>
    </ul>
    <form action="/" , method="POST">
        <input type="text" name="todoItem">
        <button type="submit">Add</button>
    </form>
</body>

</html>